:root {
  --text-font-family: "LXGW WenKai", "Segoe UI Emoji", var(--default-font),
    sans-serif;
  --text-font-family-strong: "LXGW WenKai Screen R", var(--text-font-family);
  --mono-font-family: "等距更纱黑体 SC", "Segoe UI Emoji",
    "Noto Sans Mono CJK SC", sans-serif;
}

/* TAG */
.tag,
.cm-hashtag {
  font-size: 0.8em !important;
  font-family: var(--mono-font-family);
}

/* FRONT MATTER */
.cm-hmd-frontmatter {
  font-family: var(--mono-font-family) !important;
  font-size: 0.8em;
}

/* PREVIEW MODE */
div.markdown-preview-view,
.markdown-preview-view {
  font-family: var(--text-font-family);
}

/* EDIT MODE */
.cm-s-obsidian,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian span.cm-formatting-task,
.markdown-source-view,
.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: var(--text-font-family);
  letter-spacing: 0.5pt;
}

/* STRONG */
strong,
.cm-strong {
  font-family: var(--text-font-family-strong);
}

/* TABLE */
.cm-s-obsidian .HyperMD-table-row {
  font-family: var(--mono-font-family);
  font-size: 0.9em;
  letter-spacing: 0;
}

/* CODE */
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd {
  letter-spacing: 0;
  font-family: var(--mono-font-family);
}

/* HEADER */
.cm-header,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6,
.markdown-preview-view h7 {
  font-family: "Source Han Sans SC VF", "更纱黑体 SC", "Segoe UI emoji",
    var(--default-font);
}
