/* Underline H1 heading in Edit mode */
.cm-s-obsidian .HyperMD-header {
  /* border-bottom: 1px dashed var(--text-faint); */
  /* padding-bottom: 0; */
  background-color: var(--background-primary-alt);
  /* background: linear-gradient(to right, transparent, var(--text-selection)); */
  /* border-bottom: 2px solid var(--background-modifier-border); */
  padding: 2px .5em;
  border: 1px solid var(--text-faint);
  /* border-radius: 5px; */
}

/* Section sign before headers */
.cm-s-obsidian .HyperMD-header:before {
    content: "\00A7";
    margin-left: -1.5em;
    margin-right: 1.5em;
}